*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Young Serif", serif;
    margin: 0;
}
.container{
    text-align: center;
}
.one{
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.one__title{
    margin: 5px;
}
.one_des{
    color: grey;
    
}
.one_des p:hover{
    color: white;
    cursor: pointer;
}
.dish{
    display: inline-block;
    width: 170px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
}
.dish img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.dish p{
    padding: 10px;
    font-size: 10px;
}
.dish button{
    background-color: black;
    color: white;
    padding: 2px;
    cursor: pointer;
}
.dish button:hover{
    background-color: orange;
}

.three{
    background-color: black;
    color: white;
    padding: 20px;
    
}
.three form div{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.three form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.three input{
    padding: 6px;
    margin-left: 10px;
}
.three table{
    color: white;
}
.three button{
    background-color: yellow;
    margin-top: 10px;
    padding: 8px;
    width: 300px;
    border: none;
    cursor: pointer;
}
.three button:hover{
    background-color: orange;
}


